{% extends 'template/index2.html.twig' %}

{% block content %}
    <section>
        <div class="block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <span class="emlthis"><a href="mailto:example.com" title=""><i class="la la-envelope-o"></i> Email me Jobs Like These</a></span>
                        <div class="filterbar">
                            <h5>98 Jobs &amp; Vacancies</h5>
                            <div class="sortby-sec">
                                <span>Sort by</span>
                                <select data-placeholder="Most Recent" class="chosen" style="display: none;">
                                    <option>Most Recent</option>
                                    <option>Most Recent</option>
                                    <option>Most Recent</option>
                                    <option>Most Recent</option>
                                </select><div class="chosen-container chosen-container-single chosen-container-single-nosearch" title="" style="width: 113px;"><a class="chosen-single chosen-default">
                                        <span>Most Recent</span>
                                        <div><b></b></div>
                                    </a>
                                    <div class="chosen-drop">
                                        <div class="chosen-search">
                                            <input class="chosen-search-input" type="text" autocomplete="off" readonly="">
                                        </div>
                                        <ul class="chosen-results"></ul>
                                    </div></div>
                                <select data-placeholder="20 Per Page" class="chosen" style="display: none;">
                                    <option>30 Per Page</option>
                                    <option>40 Per Page</option>
                                    <option>50 Per Page</option>
                                    <option>60 Per Page</option>
                                </select><div class="chosen-container chosen-container-single chosen-container-single-nosearch" title="" style="width: 107px;"><a class="chosen-single">
                                        <span>30 Per Page</span>
                                        <div><b></b></div>
                                    </a>
                                    <div class="chosen-drop">
                                        <div class="chosen-search">
                                            <input class="chosen-search-input" type="text" autocomplete="off" readonly="">
                                        </div>
                                        <ul class="chosen-results"></ul>
                                    </div></div>
                            </div>
                        </div>
                        <div class="job-grid-sec">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                    <div class="job-grid border">
                                        <div class="job-title-sec">
                                            <div class="c-logo"> <img src="/images/resource/jg1.png" alt=""> </div>
                                            <h3><a href="#" title="">Web Designer / Developer</a></h3>
                                            <span>Massimo Artemisis</span>
                                            <span class="fav-job"><i class="la la-heart-o"></i></span>
                                        </div>
                                        <span class="job-lctn">Sacramento, California</span>
                                        <a href="#" title="">APPLY NOW</a>
                                    </div><!-- JOB Grid -->
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                    <div class="job-grid border">
                                        <div class="job-title-sec">
                                            <div class="c-logo"> <img src="/images/resource/jg2.png" alt=""> </div>
                                            <h3><a href="#" title="">Marketing Director</a></h3>
                                            <span>Massimo Artemisis</span>
                                            <span class="fav-job"><i class="la la-heart-o"></i></span>
                                        </div>
                                        <span class="job-lctn">Sacramento, California</span>
                                        <a href="#" title="">APPLY NOW</a>
                                    </div><!-- JOB Grid -->
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                    <div class="job-grid border">
                                        <div class="job-title-sec">
                                            <div class="c-logo"> <img src="/images/resource/jg3.png" alt=""> </div>
                                            <h3><a href="#" title="">Application Developer For Android</a></h3>
                                            <span>Altes Bank</span>
                                            <span class="fav-job"><i class="la la-heart-o"></i></span>
                                        </div>
                                        <span class="job-lctn">Sacramento, California</span>
                                        <a href="#" title="">APPLY NOW</a>
                                    </div><!-- JOB Grid -->
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                    <div class="job-grid border">
                                        <div class="job-title-sec">
                                            <div class="c-logo"> <img src="/images/resource/jg4.png" alt=""> </div>
                                            <h3><a href="#" title="">Web Designer / Developer</a></h3>
                                            <span>Massimo Artemisis</span>
                                            <span class="fav-job"><i class="la la-heart-o"></i></span>
                                        </div>
                                        <span class="job-lctn">Sacramento, California</span>
                                        <a href="#" title="">APPLY NOW</a>
                                    </div><!-- JOB Grid -->
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                    <div class="job-grid border">
                                        <div class="job-title-sec">
                                            <div class="c-logo"> <img src="/images/resource/jg5.png" alt=""> </div>
                                            <h3><a href="#" title="">Web Designer / Developer</a></h3>
                                            <span>MediaLab</span>
                                            <span class="fav-job"><i class="la la-heart-o"></i></span>
                                        </div>
                                        <span class="job-lctn">Sacramento, California</span>
                                        <a href="#" title="">APPLY NOW</a>
                                    </div><!-- JOB Grid -->
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                    <div class="job-grid border">
                                        <div class="job-title-sec">
                                            <div class="c-logo"> <img src="/images/resource/jg6.png" alt=""> </div>
                                            <h3><a href="#" title="">Web Designer / Developer</a></h3>
                                            <span>StarHealth</span>
                                            <span class="fav-job"><i class="la la-heart-o"></i></span>
                                        </div>
                                        <span class="job-lctn">Sacramento, California</span>
                                        <a href="#" title="">APPLY NOW</a>
                                    </div><!-- JOB Grid -->
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                    <div class="job-grid border">
                                        <div class="job-title-sec">
                                            <div class="c-logo"> <img src="/images/resource/jg7.png" alt=""> </div>
                                            <h3><a href="#" title="">Web Designer / Developer</a></h3>
                                            <span>Massimo Artemisis</span>
                                            <span class="fav-job"><i class="la la-heart-o"></i></span>
                                        </div>
                                        <span class="job-lctn">Sacramento, California</span>
                                        <a href="#" title="">APPLY NOW</a>
                                    </div><!-- JOB Grid -->
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                    <div class="job-grid border">
                                        <div class="job-title-sec">
                                            <div class="c-logo"> <img src="/images/resource/jg8.png" alt=""> </div>
                                            <h3><a href="#" title="">Web Designer / Developer</a></h3>
                                            <span>MediaLab</span>
                                            <span class="fav-job"><i class="la la-heart-o"></i></span>
                                        </div>
                                        <span class="job-lctn">Sacramento, California</span>
                                        <a href="#" title="">APPLY NOW</a>
                                    </div><!-- JOB Grid -->
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                    <div class="job-grid border">
                                        <div class="job-title-sec">
                                            <div class="c-logo"> <img src="/images/resource/jg9.png" alt=""> </div>
                                            <h3><a href="#" title="">Web Designer / Developer</a></h3>
                                            <span>StarHealth</span>
                                            <span class="fav-job"><i class="la la-heart-o"></i></span>
                                        </div>
                                        <span class="job-lctn">Sacramento, California</span>
                                        <a href="#" title="">APPLY NOW</a>
                                    </div><!-- JOB Grid -->
                                </div>
                            </div>
                        </div>
                        <div class="pagination">
                            <ul>
                                <li class="prev"><a href="#"><i class="la la-long-arrow-left"></i> Prev</a></li>
                                <li><a href="#">1</a></li>
                                <li class="active"><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><span class="delimeter">...</span></li>
                                <li><a href="#">14</a></li>
                                <li class="next"><a href="#">Next <i class="la la-long-arrow-right"></i></a></li>
                            </ul>
                        </div><!-- Pagination -->
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}