{% extends 'template/index2.html.twig' %}
{% block cssIncludes %}
{% endblock %}
{% block content %}
    <section>
        <div class="block no-padding  gray">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="inner2">
                            <div class="inner-title2">
                                <h3>Reclamation</h3>
                                <span>Keep up to date with the latest news</span>
                            </div>
                            <div class="page-breacrumbs">
                                <ul class="breadcrumbs">
                                    <li><a href="#" title="">Home</a></li>
                                    <li><a href="#" title="">Pages</a></li>
                                    <li><a href="#" title="">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="block">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 column">
                        <div class="contact-form">
                            <h3>Keep In Touch</h3>
                            <form type="POST" action="{{ path('reclamation_add') }}">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <span class="pf-title">Post you have problems with</span>
                                        <div class="pf-field">
                                            <select id="post" name="post" data-placeholder="Allow In Search" class="chosen">
                                                {% for post in posts %}
                                                <option value="{{ post.id }}">{{ post.subject }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <span class="pf-title">Subject</span>
                                        <div class="pf-field">
                                            <input name="subject" id="subject" type="text" placeholder="ALi TUFAN">
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <span class="pf-title">Message</span>
                                        <div class="pf-field">
                                            <textarea name="message" id="message"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <button type="submit">Send</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-6 column">
                        <div class="contact-textinfo">
                            <h3>JobHunt Office</h3>
                            <ul>
                                <li><i class="la la-map-marker"></i><span>Jobify Inc. 555 Madison Avenue, Suite F-2 Manhattan, New York 10282 </span></li>
                                <li><i class="la la-phone"></i><span>Call Us : 0934 343 343</span></li>
                                <li><i class="la la-fax"></i><span>Fax : 0934 343 343</span></li>
                                <li><i class="la la-envelope-o"></i><span>Email : info@jobhunt.com</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
                {% if (done=="yes") %}
                    <div class="center"><h1>Your reclamation has been sent!</h1></div>

                {% endif %}
            </div>
        </div>
    </section>

{% endblock %}
{% block jsIncludes %}

{% endblock %}