{% extends 'template/index2.html.twig' %}

{% block content %}
    <div class="block less-top">
        <div class="container">
            <div class="row">
                <aside class="col-lg-3 column margin_widget">
                    <div class="widget">
                        <div class="search_widget_job">
                            <div class="field_w_search">
                                <input type="text" placeholder="Search Keywords">
                                <i class="la la-search"></i>
                            </div><!-- Search Widget -->
                            <div class="field_w_search">
                                <input type="text" placeholder="All Locations">
                                <i class="la la-map-marker"></i>
                            </div><!-- Search Widget -->
                        </div>
                    </div>
                    <div class="widget border">
                        <h3 class="sb-title open">Specialism</h3>
                        <div class="specialism_widget" style="">
                            <div class="simple-checkbox">
                                <p><input type="checkbox" name="spealism" id="as"><label for="as">Accountancy (2)</label></p>
                                <p><input type="checkbox" name="spealism" id="asd"><label for="asd">Banking (2)</label></p>
                                <p><input type="checkbox" name="spealism" id="errwe"><label for="errwe">Charity &amp; Voluntary (3)</label></p>
                                <p><input type="checkbox" name="spealism" id="fdg"><label for="fdg">Digital &amp; Creative (4)</label></p>
                                <p><input type="checkbox" name="spealism" id="sc"><label for="sc">Estate Agency (3)</label></p>
                                <p><input type="checkbox" name="spealism" id="aw"><label for="aw">Graduate (2)</label></p>
                                <p><input type="checkbox" name="spealism" id="ui"><label for="ui">IT Contractor (7)</label></p>
                            </div>
                        </div>
                    </div>
                    <div class="widget border">
                        <h3 class="sb-title open">Team Size</h3>
                        <div class="specialism_widget" style="">
                            <div class="simple-checkbox">
                                <p><input type="checkbox" name="spealism" id="t1"><label for="t1">1 - 10</label></p>
                                <p><input type="checkbox" name="spealism" id="t2"><label for="t2">100 - 200</label></p>
                                <p><input type="checkbox" name="spealism" id="t3"><label for="t3">201 - 301</label></p>
                                <p><input type="checkbox" name="spealism" id="t4"><label for="t4">301 - 401</label></p>
                                <p><input type="checkbox" name="spealism" id="t5"><label for="t5">401 - 501</label></p>
                                <p><input type="checkbox" name="spealism" id="t6"><label for="t6">501 - 601</label></p>
                                <p><input type="checkbox" name="spealism" id="t7"><label for="t7">601 - 701</label></p>
                            </div>
                        </div>
                    </div>
                    <div class="widget border">
                        <h3 class="sb-title open">Since</h3>
                        <div class="range_slider" style="">
                            <div class="nstSlider" data-range_min="1990" data-range_max="2018" data-cur_min="1991" data-cur_max="2007">
                                <div class="bar" style="left: 8px; width: 148px;"></div>
                                <div class="leftGrip" tabindex="0" style="left: 8px;"></div>
                                <div class="rightGrip" tabindex="0" style="left: 138px;"></div>
                            </div>
                            <div class="leftLabel">1991</div>
                            <div class="rightLabel">2007</div>
                        </div>
                    </div>
                </aside>
                <div class="col-lg-9 column">
                    <div class="filterbar">
                        <p>Total of 145 Employer</p>
                        <div class="sortby-sec">
                            <span>Sort by</span>
                            <select data-placeholder="20 Per Page" class="chosen" style="display: none;">
                                <option>30 Per Page</option>
                                <option>40 Per Page</option>
                                <option>50 Per Page</option>
                                <option>60 Per Page</option>
                            </select><div class="chosen-container chosen-container-single chosen-container-single-nosearch" title="" style="width: 107px;"><a class="chosen-single">
                                    <span>30 Per Page</span>
                                    <div><b></b></div>
                                </a>
                                <div class="chosen-drop">
                                    <div class="chosen-search">
                                        <input class="chosen-search-input" type="text" autocomplete="off" readonly="">
                                    </div>
                                    <ul class="chosen-results"></ul>
                                </div></div>
                        </div>
                    </div>
                    <div class="alpha-pag">
                        <a href="#" title="" class="active">ALL</a><a href="#" title="">A</a><a href="#" title="">B</a><a href="#" title="">C</a><a href="#" title="">D</a><a href="#" title="">E</a><a href="#" title="">F</a><a href="#" title="">G</a><a href="#" title="">H</a><a href="#" title="">I</a><a href="#" title="">J</a><a href="#" title="">K</a><a href="#" title="">L</a><a href="#" title="">M</a><a href="#" title="">N</a><a href="#" title="">O</a><a href="#" title="">P</a><a href="#" title="">Q</a><a href="#" title="">R</a><a href="#" title="">S</a><a href="#" title="">T</a><a href="#" title="">U</a><a href="#" title="">V</a><a href="#" title="">W</a><a href="#" title="">X</a><a href="#" title="">Y</a><a href="#" title="">Z</a>
                    </div>
                    <div class="emply-list-sec style2">
                        <div class="emply-list">
                            <div class="emply-list-thumb">
                                <a href="#" title=""><img src="/images/resource/em1.jpg" alt=""></a>
                            </div>
                            <div class="emply-list-info">
                                <div class="emply-pstn">4 Open Position</div>
                                <h3><a href="#" title="">King LLC</a></h3>
                                <span>Accountancy, Human Resources</span>
                                <h6><i class="la la-map-marker"></i> Toronto, Ontario</h6>
                                <p>The Heavy Equipment / Grader Operator  is responsible for operating one or several types construction equipment, such as front end loader, roller, bulldozer, or excavator to move,…</p>
                            </div>
                        </div><!-- Employe List -->
                        <div class="emply-list">
                            <div class="emply-list-thumb">
                                <a href="#" title=""><img src="/images/resource/em2.jpg" alt=""></a>
                            </div>
                            <div class="emply-list-info">
                                <div class="emply-pstn">4 Open Position</div>
                                <h3><a href="#" title="">Telimed</a></h3>
                                <span>Accounting Assistant, Arts, Design, and Media</span>
                                <h6><i class="la la-map-marker"></i> Toronto, Ontario</h6>
                                <p>The Heavy Equipment / Grader Operator  is responsible for operating one or several types construction equipment, such as front end loader, roller, bulldozer, or excavator to move,…</p>
                            </div>
                        </div><!-- Employe List -->
                        <div class="emply-list">
                            <div class="emply-list-thumb">
                                <a href="#" title=""><img src="/images/resource/em3.jpg" alt=""></a>
                            </div>
                            <div class="emply-list-info">
                                <div class="emply-pstn">4 Open Position</div>
                                <h3><a href="#" title="">Ucess</a></h3>
                                <span>Arts, Design, and Media, Web Developer</span>
                                <h6><i class="la la-map-marker"></i> Toronto, Ontario</h6>
                                <p>The Heavy Equipment / Grader Operator  is responsible for operating one or several types construction equipment, such as front end loader, roller, bulldozer, or excavator to move,…</p>
                            </div>
                        </div><!-- Employe List -->
                        <div class="emply-list">
                            <div class="emply-list-thumb">
                                <a href="#" title=""><img src="/images/resource/em4.jpg" alt=""></a>
                            </div>
                            <div class="emply-list-info">
                                <div class="emply-pstn">4 Open Position</div>
                                <h3><a href="#" title="">Airbnb</a></h3>
                                <span>Arts, Design, and Media</span>
                                <h6><i class="la la-map-marker"></i> Toronto, Ontario</h6>
                                <p>The Heavy Equipment / Grader Operator  is responsible for operating one or several types construction equipment, such as front end loader, roller, bulldozer, or excavator to move,…</p>
                            </div>
                        </div><!-- Employe List -->
                        <div class="emply-list">
                            <div class="emply-list-thumb">
                                <a href="#" title=""><img src="/images/resource/em5.jpg" alt=""></a>
                            </div>
                            <div class="emply-list-info">
                                <div class="emply-pstn">4 Open Position</div>
                                <h3><a href="#" title="">TeraPlaner</a></h3>
                                <span>Financial Services, Sales &amp; Marketing</span>
                                <h6><i class="la la-map-marker"></i> Toronto, Ontario</h6>
                                <p>The Heavy Equipment / Grader Operator  is responsible for operating one or several types construction equipment, such as front end loader, roller, bulldozer, or excavator to move,…</p>
                            </div>
                        </div><!-- Employe List -->
                        <div class="emply-list">
                            <div class="emply-list-thumb">
                                <a href="#" title=""><img src="/images/resource/em6.jpg" alt=""></a>
                            </div>
                            <div class="emply-list-info">
                                <div class="emply-pstn">4 Open Position</div>
                                <h3><a href="#" title="">King LLC</a></h3>
                                <span>Accountancy, Human Resources</span>
                                <h6><i class="la la-map-marker"></i> Toronto, Ontario</h6>
                                <p>The Heavy Equipment / Grader Operator  is responsible for operating one or several types construction equipment, such as front end loader, roller, bulldozer, or excavator to move,…</p>
                            </div>
                        </div><!-- Employe List -->
                        <div class="emply-list">
                            <div class="emply-list-thumb">
                                <a href="#" title=""><img src="/images/resource/em7.jpg" alt=""></a>
                            </div>
                            <div class="emply-list-info">
                                <div class="emply-pstn">4 Open Position</div>
                                <h3><a href="#" title="">King LLC</a></h3>
                                <span>Accountancy, Human Resources</span>
                                <h6><i class="la la-map-marker"></i> Toronto, Ontario</h6>
                                <p>The Heavy Equipment / Grader Operator  is responsible for operating one or several types construction equipment, such as front end loader, roller, bulldozer, or excavator to move,…</p>
                            </div>
                        </div><!-- Employe List -->
                        <div class="pagination">
                            <ul>
                                <li class="prev"><a href=""><i class="la la-long-arrow-left"></i> Prev</a></li>
                                <li><a href="">1</a></li>
                                <li class="active"><a href="">2</a></li>
                                <li><a href="">3</a></li>
                                <li><span class="delimeter">...</span></li>
                                <li><a href="">14</a></li>
                                <li class="next"><a href="">Next <i class="la la-long-arrow-right"></i></a></li>
                            </ul>
                        </div><!-- Pagination -->
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}